@model IEnumerable<BE.Usuarios_BE>

<table class="table table-striped display nowrap table table-hover table-sm" style="width:100%" width="100%" id="tdDatos">
    <thead class="headColor">
        <tr>
            <th class="d-none">ID_USUARIO</th>
            <th class="d-none">ID_ROL</th>
            <th class="d-none">ID_EMPLEADO</th>
            <th class="ps-3 pe-3 text-center" style="background-color:gray">FOTOGRAFÍA</th>
            <th class="ps-3 pe-3 text-center" style="background-color:gray">USUARIO</th>
            <th class="ps-3 pe-3 text-center" style="background-color:gray">NOMBRE ROL</th>
            <th class="ps-3 pe-3 text-center" style="background-color:gray">PRIMER NOMBRE</th>
            <th class="ps-3 pe-3 text-center" style="background-color:gray">SEGUNDO NOMBRE</th>
            <th class="ps-3 pe-3 text-center" style="background-color:gray">PRIMER APELLIDO</th>
            <th class="ps-3 pe-3 text-center" style="background-color:gray">SEGUNDO APELLIDO</th>
            <th class="ps-3 pe-3 text-center" style="background-color:gray">TELEFONO</th>
            <th class="ps-3 pe-3 text-center" style="background-color:gray">DIRECCION</th>
            <th class="d-none">URL_PANTALLA</th>
            <th class="ps-3 pe-3 text-center" style="background-color:gray">EMAIL</th>
        </tr>
    </thead>
    <tbody id="tbodyListado">
        @foreach (var item in Model)
        {
            <tr>
                <td class="d-none">@item.ID_USUARIO</td>
                <td class="d-none">@item.ID_ROL</td>
                <td class="d-none">@item.ID_EMPLEADO</td>
                <td class="pt-1 pe-3 ps-2 text-left">
                    <img src="@item.PATH" height="50" width="50" />
                </td>
                <td class="pt-1 pe-3 ps-2 text-left">@item.USUARIO</td>
                <td class="pt-1 pe-3 ps-2 text-left">@item.NOMBRE_ROL</td>
                <td class="pt-1 pe-3 ps-2 text-left">@item.PRIMER_NOMBRE</td>
                <td class="pt-1 pe-3 ps-2 text-left">@item.SEGUNDO_NOMBRE</td>
                <td class="pt-1 pe-3 ps-2 text-left">@item.PRIMER_APELLIDO</td>
                <td class="pt-1 pe-3 ps-2 text-left">@item.SEGUNDO_APELLIDO</td>
                <td class="pt-1 pe-3 ps-2 text-center">@item.TELEFONO</td>
                <td class="pt-1 pe-3 ps-2 text-left">@item.DIRECCION</td>
                <td class="d-none">@item.URL_PANTALLA</td>
                <td class="pt-1 pe-3 ps-2 text-left">@item.EMAIL</td>
            </tr>
        }
    </tbody>
</table>
<h6 class="text-left">Número de items seleccionados: @Model.Count()</h6>

<script>
    $(document).ready(function () {
        $("#tdDatos").dataTable({
            scrollY: (window.innerHeight - 300) + 'px',
            scrollX: true,
            scrollCollapse: true,
            fixedHeader: true,
            language: {
                "lengthMenu": "Registros por pagina _MENU_",
                "zeroRecords": "No existen registros",
                "info": "Pagina _PAGE_ de _PAGES_",
                "infoEmpty": "No existen registros",
                "search": "<strong>Buscar por nombre de cliente</strong>",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            "lengthMenu": [[20, 25, 50, -1], [20, 25, 50, "Todos"]],
            ordering: false,
            info: false,
            paginate: false,
            searching: false
        });

        $("#txtFiltro").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tbodyListado tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });


        //var table = $('#example').DataTable({
        //    lengthChange: false,
        //    buttons: ['copy', 'excel', 'pdf', 'colvis']
        //});

        //table.buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)');
    });
</script>
