@{
    ViewBag.Title = "Index";
}

@section scripts{

    <script>
        function Get_Mesas() {
            $('#divMesas').load('@Url.Action("Get_Mesas")', function () {
                $('#modalMesas').modal('show');
            });
        }

        function ShowModalProductos() {
            $('#selCategoria').load('@Url.Action("Get_Categorias")', function () {
            });
            $('#modalProductos').modal('show');
        }

        function ShowModalIngObservaciones(id_mesa_menu) {
            $('#txtObservaciones').val('');
            $('#hfIdDetalle').val(id_mesa_menu);
            $('#modalObservaciones').modal('show');
        }


        function Create_DetalleMesa(id_producto, objectCantidad) {
            var id_mesa = $('#hfIdMesa').val();
            var cantidad = $(objectCantidad).val();

            $.post('@Url.Action("Create_DetalleMesa")', { id_mesa, id_producto, cantidad }, function (response) {
                if (response.Codigo == '1') {
                    $('#modalProductos').modal('hide');
                    Notify(response.Descripcion, NotifyIcon.success);
                    DeshabilitarMesa(id_mesa);
                }
                else {
                    Alert(response.Descripcion, NotifyIcon.warning);
                }
            });
        }

        function Update_DetalleMesa_Observaciones() {
            var id_mesa_menu = $('#hfIdDetalle').val();
            var observaciones = $('#txtObservaciones').val();
            var id_mesa = $('#hfIdMesa').val();

            if (observaciones == '' || observaciones == null) {
                Notify('Debes ingresar una observación.', NotifyIcon.warning);
                return;
            }

            $.post('@Url.Action("Update_DetalleMesa_Observaciones")', { id_mesa_menu, observaciones }, function (response) {
                if (response.Codigo == '1') {
                    $('#modalObservaciones').modal('hide');
                    Notify(response.Descripcion, NotifyIcon.success);
                    DeshabilitarMesa(id_mesa);
                    ClearModal();
                }
                else {
                    Alert(response.Descripcion, NotifyIcon.warning);
                }
            });
        }

        function Delete_DetalleMesa(id_mesa_menu) {
            var id_mesa = $('#hfIdMesa').val();

            Confirm('Se eliminará el item seleccionado. ¿Quieres continuar?', function () {
                $.post('@Url.Action("Delete_DetalleMesa")', { id_mesa_menu }, function (response) {
                    if (response.Codigo == '1') {
                        Notify(response.Descripcion, NotifyIcon.success);
                        DeshabilitarMesa(id_mesa);
                    }
                    else {
                        Alert(response.Descripcion, NotifyIcon.warning);
                    }
                });
            });
        }
        function DeshabilitarMesa(id_mesa) {
            $.post('@Url.Action("DeshabilitarMesa")', { id_mesa }, function (response) {
                    if (response.Codigo == '1') {
                        Notify(response.Descripcion, NotifyIcon.success);
                        $('#divDataDetalles').load('@Url.Action("Get_DetallesMesa")', {id_mesa}, function () {
                            TableNoSearch('#tableDetalles', 400);
                            $('#modalMesas').modal('hide');
                            $('#hfTextoMesa').html('MESA '+id_mesa);
                            $('#hfIdMesa').val(id_mesa);
                        });
                    }
                    else {
                        Alert(response.Descripcion, NotifyIcon.warning);
                    }
                });
        }
        function HabilitarMesa() {
            var id_mesa = $('#hfIdMesa').val();

            $.post('@Url.Action("HabilitarMesa")', { id_mesa }, function (response) {
                    if (response.Codigo == '1') {
                        Notify(response.Descripcion, NotifyIcon.success);
                        Get_Mesas();
                    }
                    else {
                        Alert(response.Descripcion, NotifyIcon.warning);
                    }
                });
        }

        function Get_Productos() {
            var id_categoria = $('#selCategoria').val();
            $('#divProductos').load('@Url.Action("Get_Productos")', { id_categoria }, function () {
            });
        }

        function AddCantidad(object) {
            var cantidad = $(object).val();
            cantidad = parseFloat(cantidad)+1;
            $(object).val(cantidad)
        }
        function RemoveCantidad(object) {
            var cantidad = $(object).val();
            if (parseFloat(cantidad) > 0) {
                cantidad = parseFloat(cantidad) - 1;
                $(object).val(cantidad)
            }
        }


        function Create_Pedido() {
            var id_mesa = $('#hfIdMesa').val();
            $.post('@Url.Action("Create_Pedido")', { id_mesa }, function (response) {
                if (response.Codigo == '1') {
                    $('#modalProductos').modal('hide');
                    Notify(response.Descripcion, NotifyIcon.success);
                    DeshabilitarMesa(id_mesa);
                }
                else {
                    Alert(response.Descripcion, NotifyIcon.warning);
                }
            });
        }


        $(document).ready(function () {
            Get_Mesas();
            //$('#modalObservaciones').modal('show');
        });
    </script>
}

<input type="hidden" id="hfIdMesa"/>
<input type="hidden" id="hfIdMenu"/>
<input type="hidden" id="hfIdDetalle"/>

<div class="row m-2">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pt-1">
        <h4 class="font-weight-bold text-success" id="hfTextoMesa"></h4>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
        <button onclick="ShowModalProductos()" style="margin-top:8px" class="btn btn-secondary"><i class="far fa-plus"></i> AGREGAR</button>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="divDataDetalles"></div>
    <div class="col-12 col-md-12 col-xl-12 justify-content-center text-center">
        <span class="badge badge-pill badge-success" id="txtTotal" style="font-size:18px"></span>
        <button onclick="HabilitarMesa()" class="btn btn-secondary" type="reset" ><i class="fad fa-window-close"></i> CANCELAR</button>
        <button onclick="Create_Pedido()" class="btn btn-success"><i class="fad fa-check"></i> CREAR PEDIDO</button>
    </div>
</div>

<div class="modal modal-fullscreen-xl" id="modalMesas" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" style="background-color: #e4e5eb ">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content" id="divMesas"></div>
    </div>
</div>

<div class="modal modal-fullscreen-xl" id="modalProductos" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" style="background-color: #e4e5eb ">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen ">
        <div class="modal-content">
            <div class="card-header" style="height:50px">
                <div class="row justify-content-center">
                    <h3 id="titleModal2">CATALOGO DE MENUS</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-8 offset-2">
                    <div class="row justify-content-center">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-6 mt-1">
                            <div class="input-group">
                                <span class="col-form-label">CATEGORÍA:</span>
                                <select onchange="Get_Productos()" class="form-control select2bs4" id="selCategoria" required>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row" id="divProductos"></div>
                </div>
            </div>
            <div class="card-footer text-center text-md-center">
                <button class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fad fa-times me-1"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalObservaciones" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" style="background-color: #e4e5eb ">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">            
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-1">
                        <textarea class="form-control" placeholder="OBSERVACIONES" id="txtObservaciones"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center text-md-center">
                <button onclick="Update_DetalleMesa_Observaciones()" class="btn btn-success btn-sm" ><i class="fad fa-check me-1"></i> Agregar</button>
                <button class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fad fa-times me-1"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>