@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <!--SWEET ALERT-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    

    <script>

        function AbrirModalCatalogo() {
            $('#selCategoria').load('@Url.Action("ListarCategorias")', function () {
            });
            $('#modalCatalogo').modal('show');            
        }

        function GetPendientes() {
            alert(1);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCatalogo")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: {  },
                cache: false,
                success: function (data) {
                    var state = data["State"];
                    var lista = data["data"];
                    if (state == 1) {
                        //addCode(lista)
                        lista.forEach(function (row) {
                            document.getElementById("divMaster").innerHTML +=
                                '<div class="col-md-4">' +
                                '<div class="card card-widget widget-user-2">' +
                                '<div class="widget-user-header bg-primary">' +
                                '<div class="widget-user-image">' +
                                '<img  class="img-circle elevation-2" src="' + row.PATH_IMG + '" alt="User Avatar" style="width:60px; height:60px">' +
                                '</div>' +
                                '<h4 class="widget-user-username">' + row.NOMBRE + '</h3>' +
                                '<h6 class="widget-user-desc">' + row.PRECIO_VENTA + '</h5>' +
                                '</div>' +
                                '<div class="card-footer p-0">' +
                                '<ul class="nav flex-column">' +
                                '<li class="nav-item">' +
                                '<a href="#" class="nav-link"> STOCK: <span class="float-right badge bg-primary">'+row.STOCK+'</span> </a>' +
                                '</li>' +
                                '</ul>' +
                                '</div>' +
                                '</div>' +
                                '</div>';
                        });
                    }
                    else if (state == -1)
                        alert(data["Message"])
                },
                error: function (jqXHR, exception) {
                    getErrorMessage(jqXHR, exception);
                }
            });
        }

        function GetProductos() {
            var id_categoria = $('#selCategoria').val();
            $('#divProductos').load('@Url.Action("Catalogo")', { id_categoria }, function () {
            });
        }

        function PDF() {
            CallLoadingFire('Generando cotización, por favor espere.');
            var fechai = '';
            var fechaf = '';
            var id_venta = 54;
            @*$.post('@Url.Action("PDF")', {id_venta}, function (result) {*@
            $.post('@Url.Action("PDF2")', {fechai, fechaf}, function (result) {
                var pom = document.createElement('a');
                pom.setAttribute('href', 'data:' + result.MimeType + ';base64,' + result.File);
                pom.setAttribute('download', result.FileName);
                if (document.createEvent) {
                    var event = document.createEvent('MouseEvents');
                    event.initEvent('click', true, true);
                    pom.dispatchEvent(event);
                }
                else {
                    pom.click();
                }
            });
        }

        function GetCliente(nit) {
            var tipo = 2;
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCliente")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: { nit, tipo },
                cache: false,
                success: function (data) {
                    var state = data["State"];
                    if (state == 1) {
                        var CLIENTE = data["data"];
                        console.log(CLIENTE)
                        if (CLIENTE == null) {
                            ShowAlertMessage('warning', 'No existe el cliente con el nit ingresado.');
                            ClearCustomer();
                        }
                        else {
                            $('#hfIdCliente').val(CLIENTE.ID_CLIENTE);
                            $('#txtNombreCliente').val(CLIENTE.NOMBRE);
                            $('#txtDireccion').val(CLIENTE.DIRECCION);
                        }
                    }
                    else if (state == -1) {
                        ShowAlertMessage('warning', data['Message'])
                    }
                }
            });
        }
        function GetClienteId(id) {

            var tipo = 9;
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetClienteID")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: { id, tipo },
                cache: false,
                success: function (data) {
                    var state = data["State"];
                    if (state == 1) {
                        var CLIENTE = data["data"];
                        console.log(CLIENTE)
                        if (CLIENTE == null) {
                            ShowAlertMessage('warning', 'No existe el cliente con el nit ingresado.');
                            ClearCustomer();
                        }
                        else {
                            $('#txtNit').val(CLIENTE.NIT);
                            $('#hfIdCliente').val(CLIENTE.ID_CLIENTE);
                            $('#txtNombreCliente').val(CLIENTE.NOMBRE);
                            $('#txtNombreCrear').val('');
                            $('#txtDireccionCrear').val('');
                            $('#txtEmailCrear').val('');
                            $('#txtNitCrear').val('');
                        }
                    }
                    else if (state == -1) {
                        ShowAlertMessage('warning', data['Message'])
                    }
                }
            });
        }

        function ClearCustomer() {
            $('#hfIdCliente').val('');
            $('#txtNombreCliente').val('');
            $('#txtNit').val('');
            $('#txtDireccion').val('');
        }

        $("#txtNit").keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                e.preventDefault();
                var nit = $(this).val();
                GetCliente(nit);
            }
        });
        $('#txtNit').on('click', function (e) {
            e.preventDefault();
            ClearCustomer();
        });
    </script>
}

@section styles{
    <style>
        .headColor {
            background-color: dimgray;
            color: white;
            font-size: 13px;
        }

        input {
            margin-top: -10px;
        }

        .zoom {
            transition: transform .2s;
            margin: 0 auto;
        }

            .zoom:hover {
                -ms-transform: scale(5); /* IE 9 */
                -webkit-transform: scale(5); /* Safari 3-8 */
                transform: scale(2);
            }

        .modal-fullscreen {
            width: 100%;
            max-width: none;
            height: 100%;
            margin: 0;
        }

            .modal-fullscreen .modal-content {
                height: 100%;
                border: 0;
                border-radius: 0;
            }
    </style>
}

<div class="row" style="margin-top:-30px">
    <div class="col-md-12">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0 d-none">CREAR NUEVA VENTA</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                        <label for="divNit">NIT</label>
                        <div class="input-group mb-3" id="divNit">
                            <div class="input-group-prepend">
                                <button id="btnAgregarCliente" style="margin-top:-10px" type="button" class="btn btn-success"><i class="far fa-plus"></i></button>
                                <button onclick="PDF()" style="margin-top:-10px" type="button" class="btn btn-info"><i class="far fa-search"></i></button>
                            </div>
                            <input type="text" class="form-control" id="txtNit">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-5">
                        <label for="txtNombreCliente">CLIENTE</label>
                        <input class="form-control" id="txtNombreCliente" name="txtNombreCliente" type="text" disabled>
                        <input id="hfIdCliente" type="hidden">
                    </div>
                    <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-5">
                        <label for="txtNombreCliente">DIRECCION</label>
                        <input class="form-control" id="txtDireccion" name="txtDireccion" type="text" disabled>
                    </div>
                </div>
                <div class="row" style="margin-top:-17px">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <label for="divCodigo">CATÁLOGO</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button onclick="AbrirModalCatalogo()" style="margin-top:-10px" type="button" class="btn btn-info"><i class="far fa-search"></i></button>
                            </div>
                            <input type="text" class="form-control" id="txtCodigo">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                        <label for="txtNombreProducto">NOMBRE PRODUCTO</label>
                        <input class="form-control" id="txtNombreProducto" name="txtNombreProducto" type="text" disabled>
                        <input id="hfIdProducto" type="hidden">
                    </div>
                </div>
                <div class="row" style="margin-top:-10px">
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
                        <label for="txtCantidad">CANTIDAD</label>
                        <input class="form-control text-center" id="txtCantidad" name="txtCantidad" onkeypress="return valideKey(event);" type="text">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
                        <label for="txtPrecio">PRECIO</label>
                        <input class="form-control text-center" id="txtPrecio" name="txtPrecio" type="number" disabled>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                        <button style="margin-top:25px" class="btn btn-success btn-sm" id="btnAgregarDetalle"><i class="far fa-plus"></i> AGREGAR</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm" id="tblVenta" width="100%" style="font-size:14.5px">
                                <thead class="headColor">
                                    <tr>
                                        <th class="border text-center pl-2 pr-2">#</th>
                                        <th class="border text-center pl-2 pr-2 d-none">ID</th>
                                        <th class="border text-center pl-2 pr-2">PRODUCTO</th>
                                        <th class="border text-center pl-2 pr-2">CANTIDAD</th>
                                        <th class="border text-center pl-2 pr-2">PRECIO</th>
                                        <th class="border text-center pl-2 pr-2">DESCUENTO</th>
                                        <th class="border text-center pl-2 pr-2">SUBTOTAL</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyDetalleVenta">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-secondary btn-sm" type="reset" id="btnCancelarVenta">CANCELAR</button>
                <button class="btn btn-danger btn-sm" id="btnCrearCotizacion"><i class="fad fa-file-pdf"></i> CREAR COTIZACION</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalProductos">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header d-none">
                <h5 class="modal-title">BUSQUEDA DE REPUESTOS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color:red" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card" style="margin-top:-10px">
                    <span class="badge badge-pill badge-secondary">LISTADO DE PRODUCTOS</span>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">INGRESE SU BUSQUEDA</div>
                                    </div>
                                    <input type="text" class="form-control" id="txtFiltro" style="margin-top:1px">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">INGRESE MODELO</div>
                                    </div>
                                    <input type="text" class="form-control text-center" id="anioI" maxlength="4" onkeypress="return valideKey(event);" style="margin-top:1px">
                                    <input type="text" class="form-control text-center d-none" id="anioF" maxlength="4" onkeypress="return valideKey(event);" style="margin-top:1px">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="demo-container">
                                    <div id="exportButton"></div>
                                    <div id="gridContainer"></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="demo-container">
                                    <div id="exportButton"></div>
                                    <div id="gridContainer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="row">
                        <div class="col-12 col-md-12 col-xl-12" style="margin-top:1px">
                            <div class="demo-container">
                                <div id="gridProductos"></div>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalClientes">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">BUSQUEDA DE CLIENTES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color:red" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-xl-12">
                        <div class="demo-container">
                            <div id="exportButton"></div>
                            <div id="gridClientes"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCrearCliente">
    <div class="modal-dialog">
        <div class="modal-content  bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title">CREAR CLIENTE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputCity">NOMBRE</label>
                            <input type="text" class="form-control" id="txtNombreCrear" maxlength="150" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputCity">DIRECCION</label>
                            <input type="text" class="form-control" id="txtDireccionCrear" maxlength="150">
                        </div>
                        <div class="form-group col-md-12 d-none">
                            <label for="inputCity">EMAIL</label>
                            <input type="email" class="form-control" id="txtEmailCrear" maxlength="100">
                        </div>
                        <div class="form-group col-md-6 d-none">
                            <label for="inputCity">TELEFONO</label>
                            <input type="text" class="form-control text-center" id="txtTelefonoCrear" onkeypress="return valideKey(event);">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCity">NIT</label>
                            <input type="text" class="form-control text-center" id="txtNitCrear" maxlength="50">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                <button type="button" class="btn btn-success" id="btnGuardarCliente">GUARDAR</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalValidarAutorizacion">
    <div class="modal-dialog modal-sm">
        <div class="modal-content  bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title">VALIDAR AUTORIZACIÓN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtUser">USUARIO</label>
                            <input type="text" class="form-control" id="txtUser" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="txtPassword">CLAVE</label>
                            <input type="password" class="form-control" id="txtPassword" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                <button type="button" class="btn btn-success" id="btnValidarUsuario">AUTORIZAR</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAutProd">
    <div class="modal-dialog modal-lg">
        <div class="modal-content  bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title">AUTORIZACION MODIFICAR PRODUCTO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtUserAutProd">USUARIO</label>
                            <input type="text" class="form-control" id="txtUserAutProd" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtPasswordAutProd">CLAVE</label>
                            <input type="password" class="form-control" id="txtPasswordAutProd" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="txtNombreAutProd">NOMBRE</label>
                            <input type="text" class="form-control" id="txtNombreAutProd" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="txtDescripcionAutProd">DESCRIPCION</label>
                            <input type="text" class="form-control" id="txtDescripcionAutProd" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtAutPrecioCosto">PRECIO COSTO</label>
                            <input type="text" class="form-control text-center" id="txtAutPrecioCosto" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtAutPrecioVenta">PRECIO VENTA</label>
                            <input type="text" class="form-control text-center" id="txtAutPrecioVenta" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                <button type="button" class="btn btn-success" id="btnAutProd">AUTORIZAR</button>
            </div>
        </div>
    </div>
</div>




<div class="modal modal-fullscreen-xl" id="modalCatalogo" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" style="background-color: #e4e5eb ">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen ">
        <div class="modal-content">
            <div class="card-header" style="height:50px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3 id="titleModal2">CATALOGO DE PRODUCTOS</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-8 offset-2">
                    <div class="row justify-content-center">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-1">
                            <div class="input-group">
                                <span class="col-form-label">CATEGORÍA:</span>
                                <select class="form-control select2bs4" id="selCategoria" onchange="GetProductos()" required>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: block;overflow-y: auto;max-height: calc(100vh - 250px);">

                    <div class="row" id="divProductos"></div>
                </div>
            </div>
            <div class="card-footer text-center text-md-center">
                <button class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fad fa-times me-1"></i> Cerrar</button>
                @*<button class="btn btn-success btn-sm" id="btnGuardarCambiosRegistro"><i class="fad fa-save me-1"></i> Modificar</button>*@
            </div>
        </div>
    </div>
</div>