@using RESTAURANTE
@{
    int ROL = Convert.ToInt16(Session["id_rol"]);
    List<Accesos_BE> listaMenu = Session["lista_accesos"] as List<Accesos_BE>;
    int temp = 0;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAXIMA</title>
    @Html.Partial("_Head")
    @RenderSection("styles", required: false)
</head>
@Html.Partial("_LoadingFire")
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            @*<img class="animation__shake" src="~/Content/Admin LTE 3.2/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">*@
            @*<img class="animation__shake" src="https://images.squarespace-cdn.com/content/v1/574faff6f8baf35e5da43485/1508776508281-KARGJAKP4GW3CJPISNG6/SGX-Car-Bits.gif" height="450" width="450">*@
        </div>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light d-none">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button" id="btnAccordion"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-sm-inline-block">
                        <a href="index3.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-sm-inline-block">
                        <a href="#" class="nav-link">Contact</a>
                    </li>*@
            </ul>
            <div class="row text-center justify-content-center">
                    <b>RESTAURANTE MAXIMA</b>
                </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @*<a class="nav-link" data-widget="navbar-search" href="#" role="button">
                            <i class="fas fa-search"></i>
                        </a>*@
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Filtro" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown d-none">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <div class="media">
                                <img src="~/Content/Admin LTE 3.2/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <div class="media">
                                <img src="~/Content/Admin LTE 3.2/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <div class="media">
                                <img src="~/Content/Admin LTE 3.2/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                @*Notifications Dropdown Menu*@
                <li class="nav-item dropdown d-none">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item d-none">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item d-none">
                    <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Home/CerrarSesion" class="nav-link btn btn-danger text-white">
                        <i class="fad fa-step-backward text-white"></i>SALIR
                    </a>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary d-none">
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        @*<img src="~/Content/Admin LTE 3.2/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">*@
                        <img src="Session["url_fotografia"]" class="img-circle elevation-2" alt="User Image" style="width:60px; height:60px">
                    </div>
                    <div class="info">
                        <p class="text-white" style="margin-top:14px">Session["usuario"].ToString().ToUpper()</p>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Filtro" aria-label="Search">
                        @*<div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>*@
                    </div>
                </div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        @foreach (var row1 in listaMenu.Where(x => x.ES_PADRE == 1).OrderBy(x => x.ORDEN))
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="@row1.ICONO" style="font-size:10px"></i>
                                    <p>
                                        @row1.NOMBRE
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                @foreach (var row2 in listaMenu.Where(x => x.ID_PADRE == row1.ID_MENU_SYS))
                                {
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@row2.LINK" class="nav-link" style="margin-left:12px;">
                                                <i class="@row2.ICONO" style="color:white; font-size:10px"></i>
                                                <p>@row2.NOMBRE</p>
                                            </a>
                                        </li>
                                    </ul>
                                }
                            </li>
                        }
                        @*<li class="nav-item" style="margin-top:60px">
                                <a href="/Home/CerrarSesion" class="nav-link btn btn-danger">
                                    <i class="far fa-times"></i><p>CERRAR SESION</p>
                                </a>
                            </li>*@
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer d-none">
            <strong>Ingeniería de Software&copy; @DateTime.Now.Year.</strong>
            <div class="float-right d-sm-inline-block">
                <b>Version</b> 1.0
            </div>
        </footer>
        <aside class="control-sidebar control-sidebar-dark"></aside>
    </div>
    @Html.Partial("_JS")
    @RenderSection("scripts", required: false)
</body>
</html>
